body {
    background-color: rgb(251, 251, 232);
}

.homepage {
    text-align: center;
    padding-top: 10em;
}

.logo {
    width: 25%;
}

.cart-icon{
    display: block;
    font-size: 24px;
    line-height: 24px;
    margin: 0 auto;
    height: 24px;
        width: 24px;

}

.icon-dropdown{
    display: inline-block;
    height: 24px;
        width: 24px;
}